@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <h1>Log out</h1>
        </div>
    </div>

    <div class="row">
        <div class="createPostSection">
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" class="text-center">
                        <p>You are currently logged in. To end your session, click the button below.</p>
                        <button type="submit" class="btn btn-submitPost w-50" style="background-color: forestgreen">Click here to Logout</button>
                    </form>
                }
                else
                {
                    <div class="text-center">
                        <p>You have successfully logged out of the application.</p>
                        <a asp-page="/Index" class="btn btn-submitPost w-50" style="background-color: forestgreen">Go to Home</a>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
