@using Microsoft.AspNetCore.Identity
@inject UserManager<TestForum.Data.Models.ApplicationUser> UserManager
@inject SignInManager<TestForum.Data.Models.ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestForum.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-item" >
                    <a class="navbar-brand navLogo" asp-area="" asp-controller="Home" asp-action="Index">MyForum</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" >
                        <li><a asp-controller="Forum" asp-action="Index">Forum</a></li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Setting <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="dropdown-divider"></li>
                                    <li class="dropdown-item">Profile</li>
                                    <li><a class="dropdown-item" asp-controller="Profile" asp-action="Details" asp-route-id="@UserManager.GetUserId(User)">My Profile</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li class="dropdown-item">Admin</li>
                                        <li><a class="dropdown-item" asp-controller="Forum" asp-action="Create">Create Forum</a></li>
                                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">View Users</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Identity/Account/Login">Login</a></li>
                            <li><a href="/Identity/Account/Register">Register</a></li>
                        </ul>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li>Hello @UserManager.GetUserName(User)</li>
                                <li><a href="/Identity/Account/Logout">Logout</a></li>
                            </ul>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>